.page-footer {
    position: relative;
    display: block;
    padding-top: 50px;
    padding-bottom: 16px;
    background-color: #296870;
    color: #fff;
  }
  
  .page-footer h5 {
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .page-footer hr {
    border-color: #4F5E5B;
  }
  
  .footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
  }
  
  .footer-menu a,
  .footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
    transition: all .2s ease;
  }
  
  .footer-menu a:hover,
  .footer-link:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-link {
    padding: 0;
    margin-bottom: 16px;
  }
  
  .footer-sosmed a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    background-color: #26312F;
    color: #ffff;
    margin-right: 5px;
    transition: all .2s ease;
  }

.footer-icons {
    color: white;
}